@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Zeyada&display=swap');

*{
    font-family: 'Pixelify Sans', sans-serif;
    
}

Body{
    background: black;
    color:white;
    width: 100%;
    height:1000px;
    padding: 0;
    
}
.theme-light{
    background: #fff;
    color: #000;
 
   
 }
.theme-dark{
    background:#000;
    color: #fff;
 
 }
.navbar{
   background:linear-gradient(to top,#2f11d5,#038b1a);
    border-radius: 0 0 50px 50px;
    width: 100%;
    position: fixed;
    
    margin-top: -75px;
     
 }
 .buttonsForm{
   position: relative;

}
.buttonsForm button{
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 20px;
  color: #fff;
}
.btnColor{
  position: absolute;
  width: 90px;
  height: 100%;
  left: 0;
  background: linear-gradient(to right, #000, rgb(143, 23, 199));
  border-radius: 30px;
  transition: .3s;
}
#btnCadastro{
  color: #000;
}



.container{
   
   background:linear-gradient(to bottom,#2f11d5,#038b1a);
   width: 100%;
   width: 50%;
   height: 800px;
   margin-top: 75px;
   display: flex;
   padding-top: 60px;
   position:static;
    
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
   }
   .a{
      padding: 30px;
      padding-top: 70px;
      display: flex;
      align-items: center;
      flex-direction: column;
   }
   .b{
      display: flex;
      align-items: center;
   }
   img{

      transition: 1s;
      border-radius: 15px;
   }
   img:hover{

      width: 50%;
      
      border-style: groove;
      border: none;
      border-radius: 50%;
      
   }
 .c{
    padding: 30px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .d{
    padding: 30px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 section{
   margin: 60px;
 }
 footer li {
   color:blue ;
   margin: 10px 15px 10px 15px; 
   display: grid;
   justify-content: center;
   grid-rows:50px;
}

footer{
   background:linear-gradient(to top,#2f11d5,#038b1a);
   width: 100%;
   display: flex;
   flex-direction: column;
   
   margin-top: 30px;
}
.post_title{
   text-align: end;
}
